body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  color: #333;
  height: 100vh; /* Full height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack vertically */
  padding-top: 60px; /* Adjust based on header height */
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center; /* Ensure vertical alignment */
}

header h1 {
  margin: 0;
  padding: 10px 0; /* Adjusted padding for alignment */
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container {
  text-align: center;
  width: 100%; /* Ensure it spans the width */
  max-width: 640px; /* Maximum width */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Add this line */
  align-items: center; /* Vertically center align items */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px; /* Ensure this matches or aligns well with the title's padding */
}

#textContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the text box and button */
  flex-direction: column; /* Stack vertically on small screens */
  align-items: center; /* Align items in the center */
}

#textBox {
  width: 300px;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px; /* Space between text box and button */
  resize: none;
  font-size: 16px;
}

#copyButton {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
}

#copyButton:hover {
  background-color: #45a049;
}
